@import url('reset.css');

@import url('widgets.css');

@import url('social.css');

@import url('elements.css');

@import url('comments.css');
/*
* Folder v1.0
*
*/
/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*//* IMPORT ------------------------------------------------------------*/
/* GENERAL ------------------------------------------------------------*/
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.wrapper {
  margin: 0 auto;
  width: 940px;
  position: relative;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}
body a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body p {
  margin-bottom: 21px;
}
#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}
#main,
footer {
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Voltaire', sans-serif;
  line-height: 40px;
}
h1 {
  font-size: 42px;
  padding-bottom: 20px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 21px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
.alignleft {
  float: left;
  margin: 5px 10px 5px 0;
}
.alignright {
  float: right;
  margin: 5px 0px 5px 10px;
}
.section-div {
  height: 54px;
  border-top: 1px solid #ccc;
}
#logo {
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
}
#logo:hover {
  opacity: 0.8;
}
/* ENTRY CONTENT ----------------------------------------------------*/.entry-content .heading {
  margin-bottom: 1.5em;
}
/* COMBO NAVIGATION ------------------------------------------------------------*/
#comboNav {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
  float: left;
}
/* NAVIGATION ------------------------------------------------------------*/
#nav {
  float: right;
  text-decoration: none;
}
#nav > li {
  margin: 0 10px;
}
#nav > li:first-child {
  margin-left: 0px;
}
#nav > li:last-child {
  border-right: none;
  padding-right: 0px;
}
#nav > li > a {
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: block;
  overflow: hidden;
  line-height: 80px;
  border-top: 3px solid transparent;
}
/* sub navigation -----------------------------------------------------*/
.sfHover ul {
  display: block;
  margin-top: 30px;
  margin-left: 0px;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.sfHover ul li a {
  display: block;
  padding: 20px 20px;
  display: block;
  font-size: 11px;
  text-decoration: none;
}
/* WIDGET COLS ------------------------------------------------------------*/
.widget-cols {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 11px;
}
.widget-cols h4 {
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
}
.widget-cols > li {
  width: 220px;
  float: left;
  margin-right: 20px;
}
.widget-cols > li.fourth-col {
  margin-right: 0px;
}
/* HEADER ------------------------------------------------------------*/
header .wrapper {
  /* SLIDER ------------------------------------------------------------*/

}
header .wrapper #home-slider {
  margin-bottom: -73px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
/* MAIN ------------------------------------------------------------*/
#main {
  min-height: 500px;
  padding-top: 40px;
}

/* HEADLINE ----------------------------------------------------*/#headline {
  margin-bottom: 20px;
  font-family: 'Voltaire', sans-serif;
  font-size: 48px;
  line-height: 1.1em;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  text-indent: -9000px;
  border-bottom: 1px solid #ccc;
  padding-top: 22px;
  padding-bottom: 22px;
}
/* MASTHEAD ----------------------------------------------------*/.masthead {
  margin-bottom: 35px;
  font-family: 'Voltaire', sans-serif;
  font-size: 48px;
  line-height: 1.1em;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
  padding-bottom: 22px;
}
/* FILTERED ITEMS ----------------------------------------------------*/.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
#filter-buttons {
  text-align: center;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
#filter-buttons li {
  display: inline-block;
  margin-bottom: 0px;
}
#filter-buttons li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  margin-bottom: 0px;
}
#filter-container {
  width: 965px;
  margin-bottom: 60px;
  /* Fixes shadow and margin right */

  padding-left: 5px;
  padding-top: 5px;
  margin-left: -5px;
}
#filter-container figure {
  width: 300px;
  float: left;
  margin-right: 20px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#filter-container figure .thumb {
  display: block;
  width: 100%;
  line-height: 0em;
  border-bottom: 2px solid #ccc;
}
#filter-container figure .thumb img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#filter-container figure .thumb:hover img {
  opacity: 0.2;
}
#filter-container figure figcaption {
  margin: 18px 10px 20px 10px;
  text-align: center;
}
#filter-container figure figcaption .heading {
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 1.2em;
  text-transform: uppercase;
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#filter-container figure figcaption .readmore {
  display: block;
  margin: 10px 0px;
}
/* PAGE ----------------------------------------------------*/#page-content,
#page-content-sb {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}
#page-content-sb {
  width: 640px;
  float: left;
  margin-right: 60px;
}
/* COLUMNS LAYOUT----------------------------------------------------------*/
.one-half,
.one-third,
.one-fourth {
  float: left;
  margin-bottom: 40px;
  margin-right: 2.1276%;
  position: relative;
}
.one-half {
  width: 48.9361%;
}
.one-third {
  width: 31.9148%;
}
.one-fourth {
  width: 23.4042%;
}
.last {
  clear: right;
  margin-right: 0 !important;
}
/* PORTFOLIO ----------------------------------------------------*/#portfolio-content {
  position: relative;
  margin-top: 30px;
  margin-bottom: 60px;
}
#portfolio-content #filter-container {
  margin-bottom: 60px;
}
#portfolio-content #filter-container .heading {
  border: none;
  margin-bottom: 10px;
  padding-bottom: 0px;
}
#portfolio-content #filter-container .portfolio-cat {
  font-style: italic;
}
#portfolio-content .project-pager {
  text-align: center;
  margin-bottom: 20px;
}
#portfolio-content .project-pager .previous-project {
  float: left;
}
#portfolio-content .project-pager .next-project {
  float: right;
}
#portfolio-content #project-box {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}
#portfolio-content #project-box .info {
  float: left;
  width: 164px;
  /* 184 - 20*/

  padding-left: 20px;
  margin-right: 68px;
  font-size: 11px;
}
#portfolio-content #project-box .info strong {
  font-weight: bold;
  display: block;
}
#portfolio-content #project-box .info p {
  margin-bottom: 12px;
}
#portfolio-content #project-box .info .launch {
  display: inline-block;
  padding: 5px;
  margin-left: -5px;
}
#portfolio-content #project-box .entry-content {
  float: left;
  width: 688px;
  /* 940 - (184 + 68) - 20*/

  margin-bottom: 40px;
}
#portfolio-content #project-box .entry-content .multicolumn .column * {
  padding-right: 20px;
}
/* RELATED PROJECTS ---------------------------------------------------*/
.related-projects {
  display: block;
  padding: 0px;
}
.related-projects .related-heading {
  font-weight: bold;
  margin-bottom: 21px;
}
.related-projects .related-list {
  display: block;
}
.related-projects figure {
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 220px;
}
.related-projects figure:last-child {
  margin-right: 0px;
}
.related-projects figure .heading {
  text-decoration: none;
  font-style: normal;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-projects figure .thumb {
  display: block;
  margin-bottom: 10px;
  line-height: 0em;
  width: 220px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
.related-projects figure .thumb img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.related-projects figure .thumb:hover img {
  opacity: 0.15;
}
/* CONTACT  ----------------------------------------------------*/#map-holder {
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#map-holder #map_canvas {
  width: 100%;
  height: 300px;
}
#map-holder #map-content {
  padding: 20px;
  border-top: 1px solid #ccc;
}
/* BLOG ------------------------------------------------------------*/
#posts-list {
  position: relative;
  width: 640px;
  float: left;
  margin-top: 30px;
  margin-right: 60px;
}
#posts-list article {
  position: relative;
  margin-bottom: 55px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}
#posts-list article .feature-image {
  width: 100%;
  line-height: 0em;
}
#posts-list article .feature-image img {
  max-width: 100%;
  border-bottom: 2px solid #ccc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#posts-list article .feature-image a img:hover {
  opacity: 0.1;
}
#posts-list article .box {
  position: relative;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 18px;
}
#posts-list article .box .entry-date {
  position: absolute;
  width: 50px;
  height: 37px;
  top: 15px;
  left: -23px;
  display: block;
  padding-top: 13px;
  font-family: 'Voltaire', Arial, sans-serif;
  line-height: 1em;
  -moz-border-radius: 60px 60px 60px 60px;
  -webkit-border-radius: 60px 60px 60px 60px;
  border-radius: 60px 60px 60px 60px;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2);
}
#posts-list article .box .entry-date .number {
  font-size: 18px;
  text-align: center;
  margin-bottom: 3px;
}
#posts-list article .box .entry-date .month {
  font-size: 13px;
  text-align: center;
}
#posts-list article .box .excerpt {
  float: left;
  width: 421px;
}
#posts-list article .box .excerpt .post-heading {
  display: block;
  font-family: 'Voltaire', Arial, sans-serif;
  font-size: 24px;
  line-height: 1.1em;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  margin-top: 14px;
  margin-bottom: 21px;
}
#posts-list article .box .excerpt .learnmore {
  display: inline-block;
  padding: 7px;
}
#posts-list article .box .meta {
  float: left;
  margin-left: 20px;
  font-size: 11px;
  padding-top: 15px;
}
#posts-list article .box .meta span {
  display: block;
  margin-bottom: 10px;
  padding-left: 25px;
}
#posts-list article .box .meta .user {
  background: url(../img/icon-user.png) no-repeat 0px 0px;
}
#posts-list article .box .meta .comments {
  background: url(../img/icon-comments.png) no-repeat 0px 0px;
}
#posts-list article .box .meta .tags {
  background: url(../img/icon-tags.png) no-repeat 0px 0px;
}
#posts-list article.format-audio .format {
  background: url(../img/icon-format-audio.png) no-repeat 0px 0px;
}
#posts-list article.format-video .format {
  background: url(../img/icon-format-video.png) no-repeat 0px 0px;
}
#posts-list article.format-link .format {
  background: url(../img/icon-format-link.png) no-repeat 0px 0px;
}
#posts-list article.format-quote .format {
  background: url(../img/icon-format-quote.png) no-repeat 0px 0px;
}
#posts-list article.format-standard .format {
  background: url(../img/icon-format-post.png) no-repeat 0px 0px;
}
#posts-list article.format-image .format {
  background: url(../img/icon-format-image.png) no-repeat 0px 0px;
}
body.single #posts-list {
  width: 640px;
}
body.single #posts-list article {
  margin-bottom: 55px;
}
body.single #posts-list article .box {
  position: relative;
  padding-left: 40px;
  padding-top: 12px;
  padding-bottom: 18px;
  padding: 0px 0px 0px 0px;
  background: none;
}
body.single #posts-list article .box .excerpt {
  float: left;
  width: 580px;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}
body.single #posts-list article .box .meta {
  width: 580px;
  margin-left: 0px;
  padding: 20px 20px 20px 40px;
}
/* PAGE NAVIGATION ------------------------------------------------------------*/
#main .page-navigation {
  display: block;
  margin-bottom: 100px;
}
#main .page-navigation a {
  display: block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#main .page-navigation .nav-next {
  float: left;
}
#main .page-navigation .nav-previous {
  float: right;
}
/* SIDEBAR ------------------------------------------------------------*/
#sidebar {
  position: relative;
  width: 240px;
  float: left;
  margin-top: 30px;
  font-size: 11px;
}
#sidebar .block {
  margin-bottom: 40px;
  padding-bottom: 5px;
}
#sidebar h4 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  padding-bottom: 15px;
}
#sidebar li {
  margin-bottom: 7px;
}
/* RESPONSIVE VIDEO ----------------------------------------------------*/.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* SOCIAL BAR ----------------------------------------------------*/#social-bar {
  display: block;
  float: right;
}
#social-bar li {
  display: block;
  float: left;
  margin-left: 6px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#social-bar li:hover {
  -webkit-transform: translate(0px, -5px);
  -moz-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
/* FOOTER ------------------------------------------------------------*/
footer {
  font-size: 11px;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  text-shadow: 4px 4px 0 rgba(255, 255, 255, 0.1);
}
/* FOOTER BOTTOM ------------------------------------------------------------*/
.footer-bottom {
  padding-top: 20px;
  padding-bottom: 60px;
  overflow: hidden;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
}
.footer-bottom .left {
  width: 50%;
  padding-top: 10px;
  float: left;
}
.footer-bottom .right {
  width: 50%;
  float: right;
}

/* login */
#login {
	margin: 15px 0px;
	padding: 0px;
	text-align: center;
}

#login .inner {
	width: 340px;
	padding-bottom: 6px;
	margin: 60px auto;
	text-align: left;
	border: 1px solid #aab;
	background-color: #f0f0fa;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	-khtml-box-shadow: 2px 2px 2px #eee;
	box-shadow: 2px 2px 2px #eee;
}

#login .inner .fheader {
	padding: 18px 26px 14px 26px;
	background-color: #f7f7ff;
	margin: 0px 0 14px 0;
	color: #2e3741;
	font-size: 18px;
	font-weight: bold;
}

#login .inner .cssform p {
	clear: left;
	margin: 0;
	padding: 4px 0 3px 0;
	padding-left: 105px;
	margin-bottom: 20px;
	height: 1%;
}

#login .inner .cssform input[type='text'] {
	width: 120px;
}

#login .inner .cssform label {
	font-weight: bold;
	float: left;
	text-align: right;
	margin-left: -105px;
	width: 110px;
	padding-top: 3px;
	padding-right: 10px;
}

#login #remember_me_holder {
	padding-left: 120px;
}

#login #submit {
	margin-left: 15px;
}

#login #remember_me_holder label {
	float: none;
	margin-left: 0;
	text-align: left;
	width: 200px
}

#login .inner .login_message {
	padding: 6px 25px 20px 25px;
	color: #c33;
}

#login .inner .text_ {
	width: 120px;
}

#login .inner .chk {
	height: 12px;
}

/* custom */

/* MISC styles */
.loginButton {
	font-size: medium;
}

#flashMessage {
	background-color: #777571;
	border-color: white;
	border: medium;
	color: white;
	position: fixed;
    top: 1em;
    
}

/* HOMEPAGE styles*/
#recentActivityLabel {
	font-family: 'Voltaire', sans-serif;
	font-size: 30px;
	padding-top: 60px;
    padding-bottom: 20px;
}

/* PUBLISH styles */
#publish-box {
	padding-top: 30px;	
}

#publishForm {
	padding-top: 20px;	
    font-size: 14px;
}


#createPostRespone {
	color: red;
}

.entryTypeChooser span {
    display: inline-block;
    white-space: nowrap;
    width: 100px;
    padding-bottom: 20px;
}

.entryTypeChooser input {
	display: none;
}

.entryTypeChooserPreviewBox img {
    width: 100%;
}

.entryTypeChooser input[type="radio"]:checked+label {
    color: #cb5432;
    font-weight: bold;
}

.continueButton {
	cursor: pointer;
}

.continueButton:HOVER {
	color: black;
}

#imageUploadBox {
    padding-bottom: 20px;
}

#imageUploadBox .fileinput {
    padding-bottom: 20px;
}

#imageUploadPreviewBox {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

#imageUploadPreviewBox img {
    max-width: 150px;
    background-color: #2d2d2d;
    padding: 5px;
    margin-right: 20px;
    border: 1px solid #ffffff;
}

/*HUB styles */
.hubFeatureButton {
	font-size: 21px;
	font-family: 'Voltaire', sans-serif;
	padding-bottom: 15px;
}

/* ERROR pages */
.errorDescription {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}

.tightWrapper .form-poshytip{
    width: 95% !important;
}

#flashBarWrapper {
    width: 100%;
}

#flashBar {
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background: #f8f5f2 url(img/meta-bg.png) repeat-y top right;
    text-align:center;
    padding: 15px;
    border-bottom: 1px solid #cb5432;

    z-index: 9999;
    margin-top: 0px;
    position: fixed;
    top:0;
    right:0;
}

#welcomeLoginBox #login input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    -webkit-appearance: none;
}

#welcomeLoginBox #login {
    margin: 50px auto;
    width: 400px;
}

#welcomeLoginBox #login h2 {
    background-color: #cb5432;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
    width: 100%;
}

#welcomeLoginBox #login h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#welcomeLoginBox #login fieldset {
    background-color: #fff;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
    width: 100%;
}

#welcomeLoginBox #login fieldset p {
    color: #777;
    margin-bottom: 14px;
}

#welcomeLoginBox #login fieldset p:last-child {
    margin-bottom: 0;
}

#welcomeLoginBox #login fieldset input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#welcomeLoginBox #login fieldset input[type="userLogin"], #login fieldset input[type="password"] {
    background-color: #eee;
    color: #777;
    padding: 4px 10px;
    width: 328px;
}

#welcomeLoginBox #login fieldset input[type="submit"] {
    background-color: #33cc77;
    color: #fff;
    display: block;
    margin: 0 auto;
    padding: 4px 0;
    width: 100px;
}

#welcomeLoginBox #login fieldset input[type="submit"]:hover {
    background-color: #28ad63;
}


/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 20px auto 25px 215px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #cb5432;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper button:hover{
    background: #cb5432;
}

.form-wrapper button:active,
.form-wrapper button:focus{
    background: #cb5432;
    outline: 0;
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #cb5432 transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #cb5432;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
    border-right-color: #cb5432;
}

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

#openSearchBox {
    margin: 26px auto auto 245px;
}

.searchReslutsCategory {
    padding-top: 30px;
}

.searchReslutsCategory h3 {
    padding-bottom: 10px;
}

.searchReslutsResult-title {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.searchReslutsResult-text {
    padding-top: 5px;
    padding-left: 20px;
    font-size: 10px;
}

#searchResultsSeparator {
    border-bottom: 1px dotted #656360;
    padding-top: 10px;
}

.commentArea {
    width: 100%;
    border: 1px solid #d4d1cf;
    background: #f8f5f2;
}

#loadMoreComments {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.stylishButton {
    border: 1px solid #d4d1cf;
    width: 70px;
    height: 30px;
}

.stylishButton:hover {
    background: #cb5432;
}

.homepageTags {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;
}

.homepageTags span {
    padding-right: 5px;
}

.hubTag a {
    color: #2F5CA4;
}

.meta .tags {
    max-width: 130px;
}

.home-featured .selected {
    font-size: 20px;
    color: #cb5432 !important;
}

.projectImage {
    width: 100%;
    margin-bottom: 35px;
    padding-bottom: 4px;
    border-bottom: 1px solid #d4d1cf;
}

.projectImageInner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.projectImageInner img {
    max-width: 100%;
}

#emptyHubBox {
}